Instagram Post Automation.json
{
  "name": "Instagram Post Automation",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "weeks",
              "triggerAtDay": [
                1,
                3,
                4
              ],
              "triggerAtHour": 10
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -128,
        -96
      ],
      "id": "8b40a8b6-d686-40d7-b303-37f03a2f22bd",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.cloudinary.com/v1_1/dn2yawktm/image/upload",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/x-www-form-urlencoded"
            }
          ]
        },
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "file",
              "value": "={{$node[\"Prepare image url\"].json[\"image_url\"]}}"
            },
            {
              "name": "upload_preset",
              "value": "={{$env.CLOUDINARY_UPLOAD_PRESET}}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2240,
        96
      ],
      "id": "43e072a7-acb3-4281-920b-e971fe897db6",
      "name": "Cloudinary",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-pro",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-pro"
        },
        "messages": {
          "values": [
            {
              "content": "You are an expert social media content creator and real estate analyst. \nYour task is to read 2–3 recent news articles about real estate especially in Southeast Asia and create a single Instagram post that is professional, informative, and engaging. ",
              "role": "model"
            },
            {
              "content": "=Find 2 of the most recent, trending, and relevant real estate news articles in Asia or Southeast Asia.  \nFor each article, return: title, summary, url.  \n\nThen:  \n1. Write one Instagram caption that combines the insights from these articles (around 100 words, professional, no emojis, two short paragraphs separated by a line spacing. Use commas and periods instead of em dashes).  \n2. Generate 2–3 relevant hashtags automatically.  \n3. Suggest 2 keywords to search for a relevant image on Pexels.  \n\nOutput format in JSON:\n{\n  \"articles\": [\n    {\n      \"title\": \"Title here\",\n      \"summary\": \"Summary here\",\n      \"url\": \"https://example.com\"\n    }\n  ],\n  \"caption\": \"Your full Instagram caption here\",\n  \"hashtags\": [\"#Example1\", \"#Example2\"],\n  \"imageKeywords\": [\"keyword1\", \"keyword2\"]\n}\n\nDo not include anything else outside this JSON."
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        96,
        -96
      ],
      "id": "02bf21a5-c26a-4f4c-b268-02cd18f0505e",
      "name": "AI Social Media Expert",
      "credentials": {
        "googlePalmApi": {
          "id": "0KxxDBUAy3SPwmYe",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const input = $input.all(); \nconst outputs = input.map(item => {\n    const rawText = item.json.content.parts[0].text;\n    const cleaned = rawText.replace(/^```json\\s*/, '').replace(/\\s*```$/, '');\n    return { json: JSON.parse(cleaned) };\n});\n\nreturn outputs;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        448,
        -96
      ],
      "id": "b7274905-988b-4da6-8800-54c87677525e",
      "name": "Output cleaner",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "url": "https://api.pexels.com/v1/search",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "query",
              "value": "={{$json[\"imageKeywords\"][0]}}"
            },
            {
              "name": "per_page",
              "value": "1"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "authorization",
              "value": "={{$env.PEXELS_KEY}}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1344,
        0
      ],
      "id": "c56ad6a9-6ca2-4eb8-ac83-933a82231cd6",
      "name": "Pexel image search",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "8eef2a25-c7a5-42ab-8dac-4cc559c893c0",
              "leftValue": "={{$json[\"length\"]}}",
              "rightValue": "=0",
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        896,
        -96
      ],
      "id": "2e374535-4190-4589-8421-6af65c1dda39",
      "name": "If"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "8eef2a25-c7a5-42ab-8dac-4cc559c893c0",
              "leftValue": "={{$json[\"length\"]}}",
              "rightValue": "=0",
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1792,
        0
      ],
      "id": "ac5faf61-5167-4ed5-8539-fd12b8f35ee9",
      "name": "If1",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1LIvYxgDMJKu1RMM4OWYyJGObPJG7_uRB1sEwoQRA4uo/edit?gid=0#gid=0",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "Sheet1",
          "mode": "name"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "caption",
              "lookupValue": "={{$node[\"Output cleaner\"].json[\"caption\"]}}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        672,
        -96
      ],
      "id": "b3ecd886-58b2-40b8-964a-b189b9c03a23",
      "name": "Search similar caption",
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "G2ZJCMLPeRLYMg4u",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1LIvYxgDMJKu1RMM4OWYyJGObPJG7_uRB1sEwoQRA4uo/edit?gid=0#gid=0",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "Sheet1",
          "mode": "name"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "pexel_url",
              "lookupValue": "={{$node[\"Pexel image search\"].json[\"photos\"][0][\"src\"][\"large2x\"]}}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1568,
        0
      ],
      "id": "3c0b3c68-ce1c-40ec-b908-5c6624864f13",
      "name": "Search similar image",
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "G2ZJCMLPeRLYMg4u",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "aa2f4c48-cc27-46d9-9fd3-031e6e49eae1",
              "name": "image_url",
              "value": "={{$node[\"Pexel image search\"].json[\"photos\"][0][\"src\"][\"large2x\"]}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2016,
        96
      ],
      "id": "1c8ac013-51d1-495e-b6d4-2319beda22fd",
      "name": "Prepare image url",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1e41dcfa-81a2-4a71-8d80-6625925eda39",
              "name": "imageKeywords",
              "value": "={{ $('Output cleaner').item.json.imageKeywords }}",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1120,
        0
      ],
      "id": "0ea5dc9f-2bff-4f8f-8c4e-462c11fdde59",
      "name": "Prepare image keywords"
    },
    {
      "parameters": {
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1Bxcu0ylsunUgDtlOYPD-Ug9-UeaH34oE",
          "mode": "list",
          "cachedResultName": "IG_AutoPost",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1Bxcu0ylsunUgDtlOYPD-Ug9-UeaH34oE"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        2688,
        96
      ],
      "id": "1fb9c4a1-715a-44f5-8ccd-98356e0d81e7",
      "name": "Upload file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "Vz7pq9rSYEXc8ety",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1LIvYxgDMJKu1RMM4OWYyJGObPJG7_uRB1sEwoQRA4uo",
          "mode": "list",
          "cachedResultName": "IG_PostLog",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1LIvYxgDMJKu1RMM4OWYyJGObPJG7_uRB1sEwoQRA4uo/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1LIvYxgDMJKu1RMM4OWYyJGObPJG7_uRB1sEwoQRA4uo/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "caption": "={{$node['Output cleaner'].json['caption'].replace(/^=+/, '')}}",
            "pexel_url": "={{ $('Pexel image search').item.json.photos[0].src.original }}",
            "image_url": "={{$node['Upload file'].json['webContentLink'].replace(/^=+/, '').replace(/,$/, '')}}",
            "drive_post_id": "={{$node['Upload file'].json['id'].replace(/^=+/, '')}}",
            "articles_url_1": "={{ $('Output cleaner').item.json.articles[0].url }}",
            "articles_url_2": "={{ $('Output cleaner').item.json.articles[1].url }}",
            "hashtags": "={{$node['Output cleaner'].json['hashtags'].join(' ')}}",
            "publish_schedule": "={{ $('Schedule Trigger').item.json.timestamp }}",
            "cloudinary_url": "={{ $('Cloudinary').item.json.secure_url }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "publish_schedule",
              "displayName": "publish_schedule",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "notes",
              "displayName": "notes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "caption",
              "displayName": "caption",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "pexel_url",
              "displayName": "pexel_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "cloudinary_url",
              "displayName": "cloudinary_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "image_url",
              "displayName": "image_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "drive_post_id",
              "displayName": "drive_post_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "articles_url_1",
              "displayName": "articles_url_1",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "articles_url_2",
              "displayName": "articles_url_2",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "hashtags",
              "displayName": "hashtags",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        3584,
        96
      ],
      "id": "a156a342-5d66-4b67-9bac-a7cb374981b5",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "G2ZJCMLPeRLYMg4u",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "url": "={{$json[\"secure_url\"]}}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2464,
        96
      ],
      "id": "07148b6e-6baa-4a9d-9ad4-2df247f919ed",
      "name": "Binary conversion"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v17.0/{{$env.IG_USER_ID}}/media",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"image_url\": \"{{$json['image_url']}}\",\n  \"caption\": \"{{$json['caption']}}\",\n  \"access_token\": \"{{$env.IG_ACCESS_TOKEN}}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3120,
        -160
      ],
      "id": "d76e8012-f48a-413e-90c5-ca97e9c8d8a8",
      "name": "IG Upload Media"
    },
    {
      "parameters": {
        "content": "## Instagram API Key Available\nIf Instagram API Key is granted, connect 'Prepare for buffer' ONLY to 'IG Upload Media' then 'IG Publish' to 'Append row in sheet'\nThis allows full automation from start to finish.",
        "height": 352,
        "width": 512
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        3040,
        -320
      ],
      "id": "4db551db-a6cf-494e-86b6-b321e34cb975",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v17.0/{{$env.IG_USER_ID}}/media_publish",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"creation_id\": \"{{$json['id']}}\",\n  \"access_token\": \"{{$env.IG_ACCESS_TOKEN}}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3376,
        -160
      ],
      "id": "7cecf7e3-e033-4bb2-9538-9fa63d43cba3",
      "name": "IG Publish"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "78cecb13-a8b3-45c7-8a56-9a4f7deb003e",
              "name": "caption",
              "value": "=\"={{$node['Output cleaner'].json['caption']}}\"",
              "type": "string"
            },
            {
              "id": "740c450a-c6d1-4aa0-96da-39a6c038e9d4",
              "name": "image_url",
              "value": "=\"={{$node['Upload file'].json['webContentLink']}},",
              "type": "string"
            },
            {
              "id": "558ece73-60cb-4c0a-ae06-ff85c7468206",
              "name": "file_id",
              "value": "=\"={{$node['Upload file'].json['id']}}\"",
              "type": "string"
            },
            {
              "id": "4bdc7b66-8c56-4b01-814c-dc38daeeebf7",
              "name": "hashtag",
              "value": "={{ $('Output cleaner').item.json.hashtags }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2912,
        96
      ],
      "id": "0dd670c7-ff84-42c3-8b04-55f766af925e",
      "name": "Preparation",
      "alwaysOutputData": true
    }
  ],
  "pinData": {
    "Schedule Trigger": [
      {
        "json": {
          "timestamp": "2025-10-01T04:03:38.875-04:00",
          "Readable date": "October 1st 2025, 4:03:38 am",
          "Readable time": "4:03:38 am",
          "Day of week": "Wednesday",
          "Year": "2025",
          "Month": "October",
          "Day of month": "01",
          "Hour": "04",
          "Minute": "03",
          "Second": "38",
          "Timezone": "America/New_York (UTC-04:00)"
        }
      }
    ]
  },
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "AI Social Media Expert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Social Media Expert": {
      "main": [
        [
          {
            "node": "Output cleaner",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Output cleaner": {
      "main": [
        [
          {
            "node": "Search similar caption",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pexel image search": {
      "main": [
        [
          {
            "node": "Search similar image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cloudinary": {
      "main": [
        [
          {
            "node": "Binary conversion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "AI Social Media Expert",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Prepare image keywords",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search similar caption": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search similar image": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Pexel image search",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Prepare image url",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare image url": {
      "main": [
        [
          {
            "node": "Cloudinary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare image keywords": {
      "main": [
        [
          {
            "node": "Pexel image search",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload file": {
      "main": [
        [
          {
            "node": "Preparation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Binary conversion": {
      "main": [
        [
          {
            "node": "Upload file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IG Upload Media": {
      "main": [
        [
          {
            "node": "IG Publish",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparation": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "eaac531b-da10-4595-8d5e-5911d92a2786",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "767cc717f8a616684e6b65293e43baf30770c7debee3ed1c859ed01b61412932"
  },
  "id": "wn1mJ9GwBDV57Kx7",
  "tags": []
}